@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-dark:#202142;
  --primary-pink:#ee4878;
  --white:#fff;
  --black:#000000;
}
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: var(--primary-dark);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}
.container{
  background: var(--white);
  width: 100%;
  max-width: 540px;
  min-height: 50vh;
  border-radius: 10px;
}

#todo-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.todo-icon{
  height: 30px;
  width: 30px;
}
.input-group{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  margin-bottom: 25px;
  padding:0 20px;
}
.add-btn{
  margin-right: 20px;
}
#input-box{
  flex: 1;
  border:none;
  border-radius: 20px;
  outline: none;
  background: var(--primary-pink);
  padding: 10px;
  padding-left: 20px;
  margin-right: 10px;
}
::placeholder{
  color: var(--white);
}
.add-btn{
  position: absolute;
  right: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius:20px;
  background-color: var(--primary-dark);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  margin-right: 0;
  
}
#list-container{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 35px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-left: 20px;

}
#list-container li{
  margin-bottom: 10px;
}
#list-container li::before {
  content: "";
  position: absolute;
  background-image: url(img/unchecked.png);
  background-size: cover;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-position: center;
  left: 1px;
}
#list-container li.checked{
  color: #555;
  text-decoration: line-through;
}
#list-container li.checked::before{
  background-image: url(img/checked.png);
}
#list-container span{
  position:absolute ;
  right: 0;
  top: 5px;
  width:35px;
  height: 35px;
  font-size: 25px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
#list-container span:hover{
  background-color:var(--primary-pink) ;
  
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body.no-scroll {
  overflow: hidden;
}